/* Externally add Roboto font to the website */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset all the styles being committed by the default browser*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Default the entire body as flexbox */
body{
    display: flex;
    flex-direction: column;
}


/* Remove all styles from lists */
ol, ul {
    list-style: none;
}

/* Remove all underline from links */
a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 350px;
}

nav ul{
    display: flex;
    gap: 10px;
}

nav li a{
    color: #e5e7eb;
    size: 18px;
}

nav .logo{
    max-width: 75px;
    max-height: 75px;
    border-radius: 15%;
    border: 2px solid whitesmoke;
}


.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 350px;
    background-color: #1F2937;
    color: #e5e7eb;
    gap: 20px;
}

.header-content .site-description{
    flex: 1;
}


.header-content .site-description h1{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 10px;
}

.header-content .site-description p{
    margin-bottom: 10px;
}

.header-content .site-description p a{
    color: pink;
    font-weight: bolder;
}

button{
    border-radius: 10%;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
}


.header-content .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-content .banner img{
    flex: auto;
}

.main-content .information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 30px;
}

.main-content .information h2{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.main-content .information .testamony{
    display: flex;
    flex: 1;
    gap: 100px;
}

.main-content .information .learner{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 30px;
}

.main-content .information img{
    align-self: center;
    max-width: 300px;
    border: 3px solid #3882f6;
    border-radius: 5%;
}

.main-content .information p{
    align-self: center;
}

.main-content .quote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 400px;
    background-color: #e5e7eb;
}

.main-content .quote p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    max-width: 1000px;
}

.main-content .quote .author{
    align-self: flex-end;
    font-weight: bold;
    font-style: normal;
}

.main-content .call-for-action{
    margin: 50px 350px;
}

.main-content .call-for-action .donation-box{
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 40px;
    border-radius: 10px;
}

.main-content .call-for-action .donation-box h3{
    color: #f9faf8;
    font-size: 24px;
    font-weight: solid;
}

.main-content .call-for-action .donation-box button{
    color: #f9faf8;
    border: 2px solid #f9faf8;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: #1F2937;
    padding: 10px;
    gap: 10px;
}