/* Reset all the styles being committed by the default browser*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

/* Remove all styles from lists */
ol, ul {
    list-style: none;
}